.app {
	margin: 0 auto;
	padding: 40px 20px;
}

.stop-editors,
.gradient-config > div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.gradient-config {
	width: 260px;
	margin: 0 auto;
}

.gradient-demos {
	width: 100%;
	max-width: 630px;
	margin: 0 auto;
}
