.app {
	margin: 0 auto;
	padding: 40px 20px;
}

.stop-editors {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: start;
}

.gradient-demos {
	width: 100%;
	max-width: 630px;
	margin: 0 auto;
}
