.gradient-config__option {
	display: block;
}

.gradient-config__label {
	display: flex;
	justify-content: start;
	align-items: center;
}

.gradient-config__labelText {
	position: relative;
	opacity: 0.72;
	font-size: 0.8rem;
	padding-right: 4px;
	top: 1px;
}

.gradient-config__input {
	width: 100%;
	max-width: 256px;
}
