.gradient-config {
	/* padding: 20px; */
}

.gradient-config__option {
	display: block;

}

.gradient-config__label {
	font-size: 0.8rem;
	opacity: 0.72;
}

.gradient-config__input {
	width: 100%;
	max-width: 256px;
}
