body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.06em;

	/* Disable tap overlay color on links (Android / iOS Safari) by making the highlight transparent */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.theme--dark body {
	background-color: #111;
	color: white;
}

.theme--light body {
	background-color: white;
	color: black;
}

input[type=number] {
	text-align: right;
}

.gradient-canvas {
	display: block;
	width: 100%;
	max-width: 640px;
	height: 60px;
}
