html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* resets for all elements (easily overridden with any selector) */
*, *::before, *::after {
	/* This is the way <div>s behave before a width is set. It makes a lot of sense to treat all elements this way, and avoids lots of padding/border calulations in CSS. */
	/* Does affect layout. */
	box-sizing: border-box;

	/* Doesn't affect layout, and more times than not makes positioning "just work". */
	position: relative;
}


/* cursor reset */
html,
body {
	cursor: default;
}

code {
	cursor: text;
}

/*
textarea and input[type="text"] already receive
"cursor: text" via browsers' base stylesheets
*/

a {
	cursor: pointer;
}

button[disabled],
input[disabled] {
	cursor: default;
}



/* Get rid of number spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type="number"] {
    -moz-appearance: textfield;
}
