.stopEditor {
	overflow: hidden;
	margin: 0 16px 30px;
	width: 300px;
}

.stopEditor__preview {
	height: 40px;
}

.stopEditor__form {
	padding: 20px;
}

.stopEditor__css {
	margin-top: 4px;
}

.stopEditor__css input {
	text-align: center;
}
