.toaster {
	display: flex;
	justify-content: center;
	position: fixed;
	z-index: 10000;
	bottom: 16px;
	left: 16px;
	right: 16px;
}

.toaster > .toast {
	font-size: 0.8rem;
	text-align: center;
	line-height: 1.5;
	padding: 8px 20px;
	background-color: hsl(0, 0%, 24%);
	color: white;
	border-radius: 3px;
	border-top: 1px solid rgba(255, 255, 255, 0.12);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.42);
	transition: background-color 0.3s;
	user-select: none;
}

.toaster > .toast--interactive:hover {
	cursor: pointer;
	background-color: hsl(0, 0%, 28%);
}

.toaster > .toast--interactive:active {
	background-color: hsl(0, 0%, 20%);
}


@media only screen and (min-width: 640px) {
	.toaster {
		display: flex;
		justify-content: flex-start;
		bottom: 30px;
		left: 30px;
		right: 30px;
	}

	.toaster > .toast {
		font-size: 1rem;
		text-align: left;
		padding: 10px 24px;
	}
}
