.valueSlider {
	display: flex;
	align-items: center;
	width: 100%;
}

.valueSlider__label {
	margin-right: 16px;
}

.valueSlider__slider {
	width: 100%;
}

.valueSlider__slider > div {
	margin: 0 !important;
}

.valueSlider__text {
	margin-left: 16px;
}
